<div class="col-sm-12">

  <div class="row">
    <div class="col-sm-6">

      <div class="summary">
        <label for="e-textlabel">Summary</label>
        <input id="Subject" class="e-field e-input" type="text"
                                  name="Subject" style="width: 100%" />
      </div>


      <div class="starttime">
        <label for="e-textlabel">From</label>
        <input id="StartTime" class="e-field" type="text" name="StartTime" #startdate/>
      </div>

      <div class="endtime">
        <label for="e-textlabel">To</label>
        <input id="EndTime" class="e-field" type="text" name="EndTime" />
      </div>


      <div class="e-all-day-time-zone-row">
        <div class="e-all-day-container">
          <div class="e-float-input e-control-wrapper">AllDay
            <input id="IsAllDay" class="e-field" type="text" name="IsAlDay" style="width: 100%"/>
          </div>
        </div>
        <div id="TimezoneRow" class="e-time-zone-container">
          <div class="e-float-input e-control-wrapper">Timezone
            <input id="Timezone" class="e-field" type="text" name="Timezone" style="width: 100%"/>
          </div>
        </div>
      </div>
      <div class="e-custom-row">
        <div id="startZoneRow">
          <div class="e-start-time-zone-container">
            <div class="e-float-input e-control-wrapper">Start Timezone
              <input id="StartTimezone" class="e-field" type="text" name="StartTimezone" style="width: 100%" />
            </div>
          </div>
        </div>
        <div id="endZoneRow">
          <div class="e-end-time-zone-container">
            <div class="e-float-input e-control-wrapper">End Timezone
              <input id="EndTimezone" class="e-field" type="text" name="EndTimezone" style="width: 100%" />
            </div>
          </div>
        </div>
      </div>





      <div style="padding-bottom:15px;">
        <label id="rule-label">Rule Output</label>
        <div class="rule-output-container">
            <div id="rule-output">Select Rule</div>
        </div>
      </div>
      <div id="RecurrenceEditor">
      <ejs-recurrenceeditor (change)="onChange($event)"></ejs-recurrenceeditor>
      </div>

</div>


<div class="col-sm-6">


  <table  class="custom-event-editor" width="100%" cellpadding="5">
    <tbody>
        <tr>
            <td class="e-textlabel">Job</td>
            <td colspan="4">
                <input id="Job" class="e-field e-input" type="text"
                    name="job" style="width: 100%" />
                    <span class="e-icons circle-add"></span>
            </td>
        </tr>
        <tr>
          <td class="e-textlabel">Description</td>
          <td colspan="4">
              <input id="Job" class="e-field e-input" type="text"
                  name="description" style="width: 100%" />
          </td>
      </tr>
    </tbody>
  </table>

  <h4>Custom Fields</h4>

  <table  class="custom-event-editor" width="100%" cellpadding="5">
    <tbody>
      <tr *ngFor="let customfield of customfields">
          <td class="e-textlabel">{{ customfield.label }}</td>
          <td colspan="4">
              <input id="Job" class="e-field e-input" type="text"
                  name="{{ customfield.name }}" style="width: 100%" />
          </td>
      </tr>
    </tbody>
  </table>



</div>


  </div>



</div>
