
fieldset.scheduler-border {
  cursor: pointer;
  padding-bottom: 0;
  padding-left: 20px;
  margin: 0 0 1.5em 0;
  position : relative;
  border-left: 2px dashed #009ada;
}

.expd{
  width : 100%;
}

.bordercolor{
  border: 1px solid #fb9696;
}

.add_circle,.remove_circle:hover{
  cursor: pointer;
}

legend{
  width:0px
}

.example-button {
  margin-top: 16px;
}

.example-tooltip-red {
  background: #b71c1c;
}

.mius_excel{
  position: absolute;
  right:0;
}
fieldset.scheduler-border:before{
  content: '';
  position: absolute;
  height: 100%;
  bottom: 0;
}
.and_span{
  font-size: 12px;
  color: white;
  background-color: #009ada;
  display: block;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  line-height: 30px;
  position: absolute;
  z-index: 99;
  height: 30px;
  left: -14px;
  top: -10px;
}
/* fieldset.scheduler-border:after{
  content: '';
  position: absolute;
  width: 10%;
  left: 0;
  bottom:0;
  height: 2px;
  border-bottom: 2px dashed #009ada;
} */
.bottom_show i{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.bottom_show{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  background-color: #009ada;
  border-radius: 50%;
  left: -15px;
  color:white;
}