<div [formGroup]="expression" class="expd" >

    <div class="row formdot border_excel">

        <div class="col">
            <div class="animate">

                <!-- fieldset Start here -->

                <fieldset class="scheduler-border">

                    <legend (click)="toggleShowDiv()" mat-raised-button matTooltip="{{ animationState == 'in' ? 'hide' : 'show' }} " matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" class="example-button if_legend" >
                        <span class="if_span">IF </span>
                    </legend>

                    <div [@slideInOut]="animationState" class="list_excel" [@dotedline]>
                      <span class="inner_forumala"><input type="text" readonly value="{{ _recformula }}"/></span>
                        <ng-container formGroupName="lefts">
                            <div class="row">
                                <div class="col-1 excel_condition then_conidtion">
                                    Expression
                                </div>
                                <mat-form-field class="m-1 col-2">
                                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect (selectionChange)="conditional_dropdown(alarmSelect.value)">
                                        <mat-option value="">Choose</mat-option>
                                        <mat-option value="string">STRING</mat-option>
                                        <mat-optgroup label="Operators">
                                            <mat-option value="and">AND</mat-option>
                                            <mat-option value="or">OR</mat-option>
                                            <mat-option value="round">ROUND</mat-option>
                                        </mat-optgroup>
                                        <mat-option value="if">IF</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-form-field m-1 col-2">
                                    <mat-label>Left value</mat-label>
                                    <input matInput id="expression_left" type="text" class="col-sm-3" formControlName="left" />
                                </mat-form-field>
                            </div>
                            <!--recursive if-->



                            <!--operators fields-->
                              <!--switch case-->
                            <div class="col p-0" *ngIf="expression.get('lefts')?.get('aggregate_type')?.value">
                                <div class="row d-block">
                                    <div [ngSwitch]="expression.get('lefts').get('aggregate_type')?.value">
                                        <div *ngSwitchCase="'and'" class="and_lsittable ">
                                            <app-and [left_operator]="expression.get('lefts')" [conditionlegend]="conditionlegend_right"></app-and>
                                        </div>
                                        <div *ngSwitchCase="'or'"  class="and_lsittable">
                                            <app-and [left_operator]="expression.get('lefts')" [conditionlegend]="conditionlegend_right"></app-and>
                                        </div>
                                        <div *ngSwitchCase="'if'"  class="">
                                          <app-conditionform [events]="events" [expression]="expression.get('lefts').get('expression')"></app-conditionform>
                                        </div>
                                    </div>
                                </div>
                                <!-- </ng-container> -->
                            </div>
                        </ng-container>

                        <!--conditional operator-->
                        <div class="row m-0 align-items-center">
                            <div class="col-1 excel_condition">
                                Condition
                            </div>
                            <mat-form-field class="m-1 col-2">
                                <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="logical">
                                    <mat-option value="">Choose Operator</mat-option>
                                    <mat-option value="<"><</mat-option>
                                    <mat-option value=">">></mat-option>
                                    <mat-option value="<="><=</mat-option>
                                    <mat-option value=">=">>=</mat-option>
                                    <mat-option value="=">=</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!--Right Condition-->
                        <div class="row">
                            <div class="col-1 excel_condition then_conidtion">
                                Expression
                            </div>
                            <ng-container formGroupName="rights">
                                <mat-form-field class="m-1 col-2">
                                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect1 (selectionChange)="conditional_dropdown(alarmSelect1.value)">
                                        <mat-option value="">Choose</mat-option>
                                        <mat-option value="string">STRING</mat-option>
                                        <mat-optgroup label="Operators">
                                            <mat-option value="and">AND</mat-option>
                                            <mat-option value="or">OR</mat-option>
                                            <mat-option value="round">ROUND</mat-option>
                                        </mat-optgroup>
                                        <mat-option value="if">IF</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-form-field m-1">
                                    <mat-label>Right value</mat-label>
                                    <input matInput id="expression_right" type="text" class="col-sm-3" formControlName="right" />
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <!--recursive if-->


                        <!--operators fields-->
                        <!--switch case-->
                        <div class="col p-0" *ngIf="expression.get('rights')?.get('aggregate_type')?.value">
                            <div class="row d-block">
                                <div [ngSwitch]="expression.get('rights').get('aggregate_type')?.value">
                                    <div *ngSwitchCase="'and'" class="and_lsittable">
                                        <app-and [left_operator]="expression.get('rights')" [conditionlegend]="conditionlegend_right"></app-and>
                                    </div>
                                    <div *ngSwitchCase="'or'" class="and_lsittable">
                                        <app-and [left_operator]="expression.get('rights')" [conditionlegend]="conditionlegend_right"></app-and>
                                    </div>
                                    <div *ngSwitchCase="'if'" >
                                      <app-conditionform [events]="events" [expression]="expression.get('rights').get('expression')"></app-conditionform>
                                    </div>
                                </div>
                            </div>
                            <!-- </ng-container> -->
                        </div>
                        <!--then thenif-->

                        <ng-container formGroupName="condition_expression_then">
                            <div class="row m-0 align-items-center">
                                <div class="col-1 excel_condition then_conidtion">
                                    Then
                                </div>
                                <!-- <mat-form-field class="m-1 col-2">
                                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="condition" #alarmSelect1 (selectionChange)="conditional_dropdown(alarmSelect1.value)">
                                        <mat-option value="">Statement</mat-option>
                                        <mat-option value="then">THEN</mat-option>
                                        <mat-option value="thenif">THENIF</mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                                <mat-form-field class="m-1">
                                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect3 (selectionChange)="conditional_then(alarmSelect3.value)">
                                        <mat-option value="">Choose</mat-option>
                                        <mat-option value="string">STRING</mat-option>
                                        <mat-optgroup label="Operators">
                                            <mat-option value="and">AND</mat-option>
                                            <mat-option value="or">OR</mat-option>
                                            <mat-option value="round">ROUND</mat-option>
                                        </mat-optgroup>
                                        <mat-option value="if">IF</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-form-field m-1">
                                    <mat-label>Expression</mat-label>
                                    <input matInput id="value" type="text" class="col-sm-3" formControlName="value" />
                                </mat-form-field>
                            </div>
                            <!--then recursive-->
                            <!--switch case-->
                                <div class="row d-block m-2 then_listcondition">
                                    <div [ngSwitch]="expression?.get('condition_expression_then.aggregate_type')?.value">
                                        <div *ngSwitchCase="'and'" class="then_recursive">
                                        <app-and [left_operator] = "expression?.get('condition_expression_then')" [conditionlegend]="conditional_then_label"></app-and>
                                        </div>
                                        <div *ngSwitchCase="'or'" class="then_recursive">
                                        <app-and [left_operator] = "expression?.get('condition_expression_then')" [conditionlegend]="conditional_then_label"></app-and>
                                        </div>
                                        <div *ngSwitchCase="'if'" class="if_listcondition">
                                        <app-conditionform  [expression]="expression?.get('condition_expression_then.expression')"  ></app-conditionform>
                                        </div>
                                    </div>
                                </div>
                            <!--then recursive-->
                        </ng-container>

                        <!--else elseif-->

                        <ng-container formGroupName="condition_expression_else">
                            <div class="row m-0 align-items-center">
                                <div class="col-1 theb_if excel_condition">
                                    Then If
                                </div>
                                <!-- <button class="btn btn-sucess">Then</button> -->
                                <!-- <mat-form-field class="m-1 col-2">
                                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="condition" #alarmSelect1 (selectionChange)="conditional_dropdown(alarmSelect1.value)">
                                        <mat-option value="">Statement</mat-option>
                                        <mat-option value="else">ELSE</mat-option>
                                        <mat-option value="elseif">ELSEIF</mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                                <mat-form-field class="m-1">
                                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect5 (selectionChange)="conditional_else(alarmSelect5.value)">
                                        <mat-option value="">Choose</mat-option>
                                        <mat-option value="string">STRING</mat-option>
                                        <mat-optgroup label="Operators">
                                            <mat-option value="and">AND</mat-option>
                                            <mat-option value="or">OR</mat-option>
                                            <mat-option value="round">ROUND</mat-option>
                                        </mat-optgroup>
                                        <mat-option value="if">IF</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-form-field m-1">
                                    <mat-label>Expression</mat-label>
                                    <input matInput id="value" type="text" class="col-sm-3" formControlName="value" />
                                </mat-form-field>
                            </div>



                            <!--else recusrsive-->
                                    <!--switch case-->
                                <div class="row d-block m-2 then_listcondition">
                                    <div [ngSwitch]="expression?.get('condition_expression_else.aggregate_type')?.value">
                                        <div *ngSwitchCase="'and'" class="else_recursive">
                                        <app-and [left_operator] = "expression?.get('condition_expression_else')" [conditionlegend]="operator_label"></app-and>
                                        </div>
                                        <div *ngSwitchCase="'or'" class="else_recursive">
                                        <app-and [left_operator] = "expression?.get('condition_expression_else')" [conditionlegend]="operator_label"></app-and>
                                        </div>
                                        <div *ngSwitchCase="'if'" class="if_listcondition">
                                        <app-conditionform  [expression]="expression?.get('condition_expression_else.expression')"  ></app-conditionform>
                                        </div>
                                    </div>
                                </div>


                            <!--else recusrsive-->
                        </ng-container>
                    </div>

                    <span class="bottom_show">
                        <!-- <i class="fas fa-chevron-down"></i> -->
                        End
                    </span>

                   

                </fieldset>

                <!-- fieldset End here -->
            </div>
             <!--Additionals Start here operator-->

             <ng-container formArrayName="operators">
                <div class="data_opeartor">
                   

                        <ng-container *ngFor="let d of expression.get('operators').controls;let i = index">

                            <div [formGroupName]="i" class="last_and_excel">
                                    <span class="math_opeartor"><i class="fas fa-calculator"></i></span>
                                    <div class="d_condition_flex">

                                            <mat-form-field class="m-1">
                                                <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="operator" #changeop (selectionChange)="chooseope(changeop.value)">
                                                    <mat-option value="">Choose</mat-option>
                                                    <mat-option value="+">Addition</mat-option>
                                                    <mat-option value="-">Substraction</mat-option>
                                                    <mat-option value="/">Division</mat-option>
                                                    <mat-option value="*">Multiplication</mat-option>
                                                    <mat-option value="%">Modulo</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field class="m-1" *ngIf="expression?.get('operators')?.controls[i]?.get('operator')?.value">
                                                <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="operator_aggregate_type" #operator_controlss (selectionChange)="operator_controls(i,operator_controlss.value)">
                                                    <mat-option value="">Choose</mat-option>
                                                    <mat-option value="string">STRING</mat-option>
                                                    <mat-optgroup label="Operators">
                                                        <mat-option value="and">AND</mat-option>
                                                        <mat-option value="or">OR</mat-option>
                                                        <mat-option value="round">ROUND</mat-option>
                                                    </mat-optgroup>
                                                    <mat-option value="if">IF</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                       

                                            <div class="mius_excel">
                                                <mat-icon class="remove_circle" color="warn" (click)="removeoperator(i)">remove_circle</mat-icon>
                                               
                                                
                                                <span *ngIf="(expression.get('operators')?.length-1) == i">
                                                    <mat-icon color="primary" class="addlistcircle" (click)="operatorsaddformarray()">add_circle</mat-icon>
                                                </span>
                                            </div>
                                                    <!--switch case-->
                                            <div class="row d-block">
                                                <div [ngSwitch]="expression?.get('operators')?.controls[i]?.get('operator_aggregate_type')?.value">
                                                    <div *ngSwitchCase="'and'" class="lisst_con_opeartor">
                                                        <app-and [left_operator]="expression.get('operators').controls[i].get('operator_controls')" [conditionlegend]="operator_label"></app-and>
                                                    </div>
                                                    <div *ngSwitchCase="'or'" class="lisst_con_opeartor">
                                                        <app-and [left_operator]="expression.get('operators').controls[i].get('operator_controls')" [conditionlegend]="operator_label"></app-and>
                                                    </div>
                                                    <div *ngSwitchCase="'if'"  class="lisst_con_opeartor">
                                                        <app-conditionform [expression]="expression.get('operators').controls[i].get('operator_controls')"></app-conditionform>
                                                    </div>
                                                    <div *ngSwitchCase="'string'" >
                                                        <mat-form-field >
                                                          <mat-label>String</mat-label>
                                                          <input matInput id="expression_field" type="text" class="col-sm-3" formControlName="field" />
                                                        </mat-form-field>
                                                      </div>
                                                </div>
                                            </div>
                                    </div>
                                    <span class="bottom_show"><i class="fas fa-chevron-down"></i></span>
                            </div>
                        </ng-container>

                     
                </div>
        </ng-container>

        <!--Additionals End Here operator-->
        </div>
    </div>
  </div>
