

<div [formGroup]="expression" class="expd ">



    <div class="row formdot border_excel">
      <div class="col">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)="toggleShowDiv('divA')">add_circle</mat-icon> -->
        <div class="animate" >
               <!--left Condition-->
          <fieldset class="scheduler-border">
            <legend  (click)="toggleShowDiv()"
            mat-raised-button
            matTooltip="{{ animationState == 'in' ? 'hide' : 'show' }} "
            matTooltipClass="example-tooltip-red"
            aria-label="Button that shows a red tooltip"
            class="example-button if_legend"
            ><span class="if_span">IF <i class="fas fa-minus"></i></span></legend>
            <div  [@slideInOut]="animationState" class="list_excel" [@dotedline]>
                      <ng-container  formGroupName="lefts" >
                  <div class="row">
                    
                    <mat-form-field class="m-1 col-2">
                      <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect (selectionChange)="conditional_dropdown(alarmSelect.value)">
                          <mat-option value="">Choose</mat-option>
                          <mat-option value="string">STRING</mat-option>
                          <mat-optgroup label="Operators">
                            <mat-option value="and">AND</mat-option>
                            <mat-option value="or">OR</mat-option>
                            <mat-option value="round">ROUND</mat-option>
                          </mat-optgroup>
                          <mat-option value="if">IF</mat-option>
                      </mat-select>
                    </mat-form-field>

                      <mat-form-field class="example-form-field m-1 col-2" >
                        <mat-label>Left value</mat-label>
                      <input matInput  id="expression_left" type="text"  class="col-sm-3" formControlName="left">
                    </mat-form-field>


                </div>
                  <!--recursive if-->
                <div class="col p-0 pt-3" *ngIf="left_rec">
                  <!-- <fieldset class="scheduler-border">
                    <legend class="scheduler-border">IF Left</legend> -->
                  <app-conditionform [events]="events" [expression]="_expression" ></app-conditionform>
                  <!-- </fieldset> -->
                </div>

                   <!--operators fields-->
                   <div class="col p-0 pt-3" *ngIf="aggregate_left">
                        <!-- <ng-container formGroupName="aggregate"> -->
                              <div class="row">
                                <div [ngSwitch]="conditionlegend">
                                    <div *ngSwitchCase="'AND'">
                                      <app-and [left_operator] = "_lefts" [conditionlegend]="conditionlegend"></app-and>
                                    </div>
                                    <div *ngSwitchCase="'OR'">
                                      <app-and [left_operator] = "_lefts" [conditionlegend]="conditionlegend"></app-and>
                                    </div>
                                </div>

                              </div>
                        <!-- </ng-container> -->
                  </div>


                  </ng-container>


                  <!--conditional operator-->
                <div class="row m-0 align-items-center">
                  <div class=" col-1 exce3l_condition">
                    Condition
                  </div>
                  <mat-form-field class="m-1 col-2">
                   
                    <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="logical">
                      <mat-option value="">Choose Operator</mat-option>
                      <mat-option value="<"><</mat-option>
                      <mat-option value=">">></mat-option>
                      <mat-option value="<="><=</mat-option>
                      <mat-option value=">=">>=</mat-option>
                      <mat-option value="=">=</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                 <!--Right Condition-->
                <div class="row">
                  
                    <ng-container   formGroupName="rights">

                      <mat-form-field class="m-1 col-2">
                        <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect1 (selectionChange)="conditional_rightdropdown(alarmSelect1.value)">
                          <mat-option value="">Choose</mat-option>
                          <mat-option value="string">STRING</mat-option>
                          <mat-optgroup label="Operators">
                            <mat-option value="and">AND</mat-option>
                            <mat-option value="or">OR</mat-option>
                            <mat-option value="round">ROUND</mat-option>
                          </mat-optgroup>
                          <mat-option value="if">IF</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="example-form-field m-1" >
                        <mat-label>Right value</mat-label>
                          <input matInput  id="expression_right" type="text"  class="col-sm-3" formControlName="right">
                      </mat-form-field>

                  </ng-container>
                </div>
                <!--recursive if-->
                <div class="col p-0 pt-3" *ngIf="right_rec">
                    <app-conditionform [events]="events" [expression]="_expression" ></app-conditionform>
                </div>


                     <!--operators fields-->
                     <div class="col p-0 pt-3" *ngIf="aggregate_right">
                      <!-- <ng-container formGroupName="aggregate"> -->
                            <div class="row">
                              <div [ngSwitch]="conditionlegend_right">
                                  <div *ngSwitchCase="'AND'">
                                    <app-and [left_operator] = "_rights" [conditionlegend]="conditionlegend_right"></app-and>
                                  </div>
                                  <div *ngSwitchCase="'OR'">
                                    <app-and [left_operator] = "_rights" [conditionlegend]="conditionlegend_right"></app-and>
                                  </div>
                              </div>

                            </div>
                      <!-- </ng-container> -->
                </div>

                <!--then thenif-->

                  <ng-container formGroupName="condition_expression_then">
                    <div class="row  m-0 align-items-center">
                      <div class=" col-1 exce3l_condition">
                        Then
                      </div>
                    <mat-form-field class="m-1 col-2">
                      <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="condition"  #alarmSelect1 (selectionChange)="conditional_rightdropdown(alarmSelect1.value)">
                        <mat-option value="">Statement</mat-option>
                        <mat-option value="then">THEN</mat-option>
                        <mat-option value="thenif">THENIF</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="m-1">
                      <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect3 (selectionChange)="conditional_then(alarmSelect3.value)">
                        <mat-option value="">Choose</mat-option>
                        <mat-option value="string">STRING</mat-option>
                        <mat-optgroup label="Operators">
                          <mat-option value="and">AND</mat-option>
                          <mat-option value="or">OR</mat-option>
                          <mat-option value="round">ROUND</mat-option>
                        </mat-optgroup>
                        <mat-option value="if">IF</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-form-field m-1" >
                      <mat-label>Expression</mat-label>
                    <input matInput  id="value" type="text"  class="col-sm-3" formControlName="value">
                  </mat-form-field>




                </div>
                <div class="col p-0 pt-3" *ngIf="thenshowhide">
                  <app-conditionform [events]="events" [expression]="_expression" ></app-conditionform>
                </div>
                  </ng-container>



                <!--else elseif-->

                  <ng-container formGroupName="condition_expression_else">
                    <div class="row  m-0 align-items-center">
                      <div class=" col-1 exce3l_condition">
                        Then If
                      </div>
                      <!-- <button class="btn btn-sucess">Then</button> -->
                    <mat-form-field class="m-1 col-2">
                      <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="condition"  #alarmSelect1 (selectionChange)="conditional_rightdropdown(alarmSelect1.value)">
                        <mat-option value="">Statement</mat-option>
                        <mat-option value="else">ELSE</mat-option>
                        <mat-option value="elseif">ELSEIF</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="m-1">
                      <mat-select class="alarm-dropdown" trigger="alarmTrigger" formControlName="aggregate_type" #alarmSelect5 (selectionChange)="conditional_else(alarmSelect5.value)">
                        <mat-option value="">Choose</mat-option>
                        <mat-option value="string">STRING</mat-option>
                        <mat-optgroup label="Operators">
                          <mat-option value="and">AND</mat-option>
                          <mat-option value="or">OR</mat-option>
                          <mat-option value="round">ROUND</mat-option>
                        </mat-optgroup>
                        <mat-option value="if">IF</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-form-field m-1" >
                      <mat-label>Expression</mat-label>
                    <input matInput  id="value" type="text"  class="col-sm-3" formControlName="value" >
                  </mat-form-field>


                </div>
                <div class="col p-0 pt-3" *ngIf="elsehide">
                  <app-conditionform [events]="events" [expression]="_expression" ></app-conditionform>
                </div>
                  </ng-container>
                </div>
                
                <span class="bottom_show"><i class="fas fa-chevron-down"></i></span>

        </fieldset>
      </div>
    </div>
  </div>







<!--

  <div class="row">
    <div class="col-sm-5 bordercolor">
      <ng-container  formGroupName="lefts">
        <span class="p-1">=IF</span>
            <div class="d-flex">
              <input id="expression_left" type="text"  class="form-control" formControlName="left" placeholder="Enter Value">
              <select name="conditional_dropdown" #cd class="form-control" (change)="conditional_dropdown(cd.value)">
                <option value="string">STRING</option>
                <option value="operator">OPERATOR</option>
                <option value="if">IF</option>
              </select>
            </div> -->
    <!--operator-->
      <!-- <div class="m-1" formArrayName="aggregate" *ngIf="show">
        <div  *ngFor="let step of _aggregate.controls; let i = index">
            <div [formGroupName]="i"  class="row">

                <div class="col">
                  <select  id="aggregates" class="form-control " formControlName="opera" #t (change)="aggregate_invoke(t.value)">
                    <option value="and">AND</option>
                    <option value="or">OR</option>
                    <option value="sum">SUM</option>
                    <option value="average">AVERAGE</option>
                  </select>
                </div>

                <div class="col">
                  <div class="aggregates_left">
                    <input id="aggregates_left" type="text"  class="form-control" formControlName="aggregates_left">
                  </div>
                </div>


                <div class="col"  *ngIf="selectedAggregate == 'and' || selectedAggregate == 'or'">
                  <div class="aggregates_operator">
                    <select name="aggregates_operator" id="aggregates_operator" class="form-control" formControlName="aggregates_operator">
                      <option value="<"><</option>
                      <option value=">">></option>
                      <option value="<="><=</option>
                      <option value=">=">>=</option>
                      <option value="=">=</option>
                    </select>
                  </div>
                </div>

                <div class="col"  *ngIf="selectedAggregate == 'sum' ||  selectedAggregate == 'average' ">
                  <div class="aggregates_operator">
                    <select name="aggregates_operator" id="aggregates_operator" class="form-control" formControlName="aggregates_operator">
                      <option value="," >,</option>
                    </select>
                  </div>
                </div>


                <div class="col">
                  <div class="aggregates_right">
                    <input id="aggregates_right" type="text"  class="form-control" formControlName="aggregates_right">
                  </div>
                </div>

                <div class="col">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="remove_aggregate()">remove_circle</mat-icon>
                </div>
          </div>
        </div>
      </div> -->
      <!--operator-->

      <!--nested if-->
<!--
      <div class="col p-0 pt-3" *ngIf="hn">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">IF Right</legend>
          <app-conditionform [events]="events" [expression]="_expression" ></app-conditionform>
        </fieldset>
      </div> -->

      <!--nestd if-->

  <!-- </ng-container>
    </div>

    <div class="col-sm-2 ">
      <span class="p-1">operator</span>
      <select name="logicaloperator" id="logicaloperator" class="form-control " formControlName="logical">
        <option value="">Choose Operator</option>
        <option value="<"><</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value=">=">>=</option>
        <option value="=">=</option>
      </select>
    </div>


    <div class="col-sm-5 bordercolor">
      <span class="p-1"></span>
      <div class="d-flex">

        <input id="expression_right" type="text"  class="form-control" formControlName="right" placeholder="Enter Value">
        <select name="conditional_dropdown" #cd class="form-control" (change)="conditional_dropdown(cd.value)">
          <option value="string">STRING</option>
          <option value="operator">OPERATOR</option>
          <option value="if">IF</option>
        </select>
      </div>

    </div>






  </div> -->



<!--


  <div class="row">
    <div class="col">
    <ng-container  formGroupName="lefts">
        <span class="p-1">=IF</span>
            <div class="col-sm-12 d-flex">
              <input id="expression_left" type="text"  class="form-control m-1 col-sm-4" formControlName="left" placeholder="Enter Value">
              <select name="conditional_dropdown" #cd class="form-control m-1 col-sm-4" (change)="conditional_dropdown(cd.value)">
                <option value="string">STRING</option>
                <option value="operator">OPERATOR</option>
                <option value="if">IF</option>
              </select>
            </div>





      <div class="m-1" formArrayName="aggregate" *ngIf="show">
        <div  *ngFor="let step of _aggregate.controls; let i = index">
            <div [formGroupName]="i"  class="row">

                <div class="col-sm-2">
                  <select  id="aggregates" class="form-control " formControlName="opera" #t (change)="aggregate_invoke(t.value)">
                    <option value="and">AND</option>
                    <option value="or">OR</option>
                    <option value="sum">SUM</option>
                    <option value="average">AVERAGE</option>
                  </select>
                </div>

                <div class="col-sm-2">
                  <div class="aggregates_left">
                    <input id="aggregates_left" type="text"  class="form-control" formControlName="aggregates_left">
                  </div>
                </div>


                <div class="col-sm-2"  *ngIf="selectedAggregate == 'and' || selectedAggregate == 'or'">
                  <div class="aggregates_operator">
                    <select name="aggregates_operator" id="aggregates_operator" class="form-control" formControlName="aggregates_operator">
                      <option value="<"><</option>
                      <option value=">">></option>
                      <option value="<="><=</option>
                      <option value=">=">>=</option>
                      <option value="=">=</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-2"  *ngIf="selectedAggregate == 'sum' ||  selectedAggregate == 'average' ">
                  <div class="aggregates_operator">
                    <select name="aggregates_operator" id="aggregates_operator" class="form-control" formControlName="aggregates_operator">
                      <option value="," >,</option>
                    </select>
                  </div>
                </div>


                <div class="col-sm-2">
                  <div class="aggregates_right">
                    <input id="aggregates_right" type="text"  class="form-control" formControlName="aggregates_right">
                  </div>
                </div>

                <div class="col-sm-2">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="remove_aggregate()">remove_circle</mat-icon>
                </div>

          </div>

        </div>
      </div>


  </ng-container>
  </div>
  </div>


  <div class="row">
    <div class="col" *ngIf="hn">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">IF Right</legend>
        <app-conditionform [events]="events" [expression]="_expression" ></app-conditionform>
      </fieldset>
    </div>
  </div>





<div class="row">
    <div class="col d-flex">
        <select name="logicaloperator" id="logicaloperator" class="form-control m-1 col-sm-3" formControlName="logical">
          <option value="">Choose Operator</option>
          <option value="<"><</option>
          <option value=">">></option>
          <option value="<="><=</option>
          <option value=">=">>=</option>
          <option value="=">=</option>
        </select>


        <input id="expression_right" type="text"  class="form-control m-1 col-sm-3" formControlName="right" placeholder="Enter Value">
        <select name="conditional_dropdown" #cd class="form-control m-1 col-sm-3" (change)="conditional_dropdown(cd.value)">
          <option value="string">STRING</option>
          <option value="operator">OPERATOR</option>
          <option value="if">IF</option>
        </select>
    </div>
</div>
 -->

    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="add_aggregate()">add_circle</mat-icon> -->

  <!-- </div> -->





</div>


<!-- <pre>{{ expression.value | json }}<pre> -->


