.mat-icon:hover{
  cursor: pointer;
}


fieldset.scheduler-border {
  cursor: pointer;
  padding-bottom: 0;
  padding-left: 30px;
  margin: 0 0 1.5em 0;
  position: relative;
  box-shadow: 2px 1px 10px rgb(201 201 201);
  border-radius: 10px;
  border-left: 2px dashed #009ada;
}
fieldset.scheduler-border .row{
  margin:0;
}
.expd{
  width : 100%;
}

.bordercolor{
  border: 1px solid #fb9696;
}

.formdot{
  position: relative;
}
.formdot:before{
  content: '';
  position: absolute;
  height: calc(100% - 52px);
  top: 10px;
  left: 0;
}

.border_excel{
  padding:10px;
}
.if_span{
  font-size: 12px;
  color: white;
  background-color: #009ada;
  display: block;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  line-height: 30px;
  position: absolute;
  z-index: 99;
  height: 30px;
  left: -14px;
  top: -10px;
}

legend{
  width: unset;
}
.excel_condition{
  font-size: 13px;
  color: white;
  background-color: #cf2379;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-align: center;
  /* background-color: #009ada; */

}
/* .then_conidtion{
  background-color: #cf2379;
}
.theb_if{
  background-color: #2A4564;
} */


.bottom_show{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  background-color: #009ada;
  border-radius: 50%;
  left: -15px;
  color:white;
  bottom: -29px;
}
.excel_condition:before{
  content: '';
  position: absolute;
  width: 30%;
  right: 100%;
  bottom: 10px;
  height: 2px;
  border-bottom: 2px dashed #009ada;
}
.bottom_show i{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 10px;
} */
.and_lsittable {
  margin-left:25px;
}
::ng-deep .mat-option{
  height: 30px  !important;
  padding:10px;
}
::ng-deep app-conditionform{
  flex:auto;
}
::ng-deep .mat-form-field-infix{
  border-top: none !important;
}
::ng-deep  .mat-form-field{
  margin-top:0 !important;
  margin-bottom:0 !important;
}