.mat-icon:hover{
  cursor: pointer;
}


fieldset.scheduler-border {
  cursor: pointer;
  padding-bottom: 0;
  padding-left: 30px;
  margin: 0 0 1.5em 0;
  position : relative;
  border-left: 2px dashed #009ada;
}

.expd{
  width : 100%;
}

.bordercolor{
  border: 1px solid #fb9696;
}

.formdot{
  position: relative;
}
.formdot:before{
  content: '';
  position: absolute;
  height: calc(100% - 52px);
  top: 10px;
  left: 0;
}

.border_excel{
  padding:10px;
}
.if_span{
  font-size: 12px;
  color: white;
  background-color: #009ada;
  display: block;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  line-height: 30px;
  position: absolute;
  z-index: 99;
  height: 30px;
  left: -14px;
  top: -10px;
}

legend{
  width: unset;
}
.exce3l_condition{
  font-size: 14px;
  color: white;
  background-color: #009ada;
  border-radius: 5px;
  height: 20px;
  text-align: center;
  padding: 0;
  max-width: auto;
}

/* fieldset.scheduler-border:after{
  content: '';
  position: absolute;
  width: 10%;
  left: 0;
  bottom:0;
  height: 2px;
  border-bottom: 2px dashed #009ada;
} */
.bottom_show{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  background-color: #009ada;
  border-radius: 50%;
  left: -15px;
  color:white;
}
.exce3l_condition:before{
  content: '';
  position: absolute;
  width: 100%;
  right: 29px;
  bottom: 10px;
  height: 2px;
  border-bottom: 2px dashed #009ada;
}
.bottom_show  .mat-icon{
  line-height: 30px;
}