<div class="container" id="contactandjobs">
  <div id="scrlxaxis">
    <table>
      <tr>
        <th>Job ref no</th>
        <th>First name</th>
        <th>Surname</th>
        <th>Company name</th>
        <th> Job Status</th>
      </tr>
      <tr>
        <td id="tbdataone"><a href="#">BM1250</a></td>
        <td >john</td>
        <td>blinds</td>
        <td>Shutter blinds</td>
        <td> Invoice</td>

      </tr>
      <tr>
        <td id="tbdataone"><a href="#">BM5689</a></td>
        <td>david</td>
        <td> smith</td>
        <td>Best blinds</td>
        <td> Orders</td>
      </tr>
      <tr>
        <td id="tbdataone"><a href="#">BM2354</a></td>
        <td>Theo</td>
        <td>harris</td>
        <td>kings blinds</td>
        <td> Lead</td>
      </tr>
      <tr>
        <td id="tbdataone"><a href="#">BM2254</a></td>
        <td>Matt</td>
        <td>Wills</td>
        <td>Blinds book</td>
        <td>Quotes</td>
      </tr>
      <tr>
        <td id="tbdataone"><a href="#">BM1250</a></td>
        <td >john</td>
        <td>blinds</td>
        <td>Shutter blinds</td>
        <td> Invoice</td>

      </tr>


    </table>
  </div>
  <div>
    <p id="contacttwo"> contacts</p>
    <hr>
    <div>
      <div id="scrlxaxis">
        <table>
          <tr>
            <th>Company Name</th>
            <th>First name</th>
            <th>Surname</th>
            <th>Source</th>
            <th>Mobile</th>
          </tr>

          <tr>
            <td id="tbdataone"><a href="#">shutter woods</a></td>
            <td>Griffin</td>
            <td>Griffin</td>
            <td>Facebook</td>
            <td>987654321</td>
          </tr>
          <tr>
            <td id="tbdataone"><a href="#">kings blind</a></td>
            <td>Griffin</td>
            <td>Griffin</td>
            <td>Instagram</td>
            <td>987654321</td>
          </tr>
          <tr>
            <td id="tbdataone"><a href="#">Best blinds</a></td>
            <td>Swanson</td>

            <td>Griffin</td>
            <td>Youtube</td>
            <td>987654321</td>
          </tr>
          <tr>
            <td id="tbdataone"><a href="#">Blinds book</a></td>
            <td>Brown</td>

            <td>Griffin</td>
            <td>Twitter</td>
            <td>987654321</td>
          </tr>
          <tr>
            <td id="tbdataone"><a href="#">kings blind</a></td>
            <td>Griffin</td>
            <td>Griffin</td>
            <td>Instagram</td>
            <td>987654321</td>
          </tr>
          <!-- <tr>
            <td  id="tbdataone"><a href="#">kings blind</a></td>
            <td>Griffin</td>
            <td>Griffin</td>
            <td>Instagram</td>
            <td>987654321</td>
          </tr> -->

        </table>
      </div>
    </div>
  </div>
</div>
