
  <ag-grid-angular
    #agGrid
    style="width: 100%; overflow: auto; height: calc(100vh - 226px)" 

    id="myGrid"

   class="ag-theme-balham"
    [gridOptions]="agGridOptions"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowModelType]="rowModelType"
    [serverSideStoreType]="serverSideStoreType"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [cacheBlockSize]="cacheBlockSize"
    [enableRangeSelection]="true"
    [animateRows]="true"
    [rowData]="rowData"
    [rowDragManaged]="true"
    (gridReady)="onGridReady($event)"
    [frameworkComponents]="frameworkComponents"

  ></ag-grid-angular>

  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->


