<h2 mat-dialog-title>{{ variablename }}</h2>
<mat-dialog-content class="mat-typography">

  <div class="container">
    <div class="row">
      <button class="btn btn-info col-sm-1" (click)="wrap()">Wrap IF</button>
     
      <div class="col-sm-12 m-2">
        <input #el type="text" class="form-control formula_fields" id="name"
        [(ngModel)]="formula_field" name="formula_field" (click)="myClickFunction($event)">
      </div>
    </div>

    <div class="row d-flex ">

    <!-- Functions -->
      <div class="col-sm-3 text-black mh-100 section">
            <h3 class="text-center">Functions</h3>


            <!-- calculation grid -->
         <div class="row " *ngFor="let datas of calc_button;let i = index">
          <button type="button" class="btn btn-secondary m-1 validate_form" id="validate_form"  *ngFor="let data of datas;" [value]="data.value" (click)="onKeyUp(data.value)">{{ data.name }}</button>
         </div>
           <!-- calculation grid -->



           <!-- calculation input -->
           <table class="table">
             <thead>
              <tr>
                <th>
                  <button type="button" class="btn btn-info" (click)="validateformula()">Validate</button>
                </th>
                <th>
                  <input type="text" class="form-control formula_fields" id="name"
                  [(ngModel)]="calculated_value" name="calculated_value">
                </th>
              </tr>
               <tr>
                 <th>Name</th>
                 <th>Value</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let data of parameter_name">
                 <th>{{ data.name }}</th>
                 <td>
                  <input type="text" class="form-control formula_fields" id="name"
                  [(ngModel)]="userentered[data.value]" name="formula_field">
                 </td>
               </tr>
             </tbody>
           </table>

           <!-- calculation input -->
      </div>
    <!-- Functions -->


    <!--Parameter Name-->
      <div class="col-sm-3 text-black mh-100 section">
          <h3 class="text-center">Parameter Name</h3>
          <mat-card class="m-1 cursor-pointer" *ngFor="let data of parameter_name" (click)="onKeyUp(data.value)">
            <mat-card-content>
              {{ data.name }}
            </mat-card-content>
          </mat-card>
      </div>
    <!--Parameter Name-->


    <!-- Allowance Name -->
      <div class="col-sm-3 ">
        <h3 class="text-center">Allowance Name</h3>
      </div>
    <!-- Allowance Name -->


    <!-- Variable Name -->
      <div class="col-sm-3 ">
        <h3 class="text-center">Variable Name</h3>
      </div>
    <!-- Variable Name -->

    </div>



  </div>
  

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
